@page
@model AdminLTE.StarterKit.Pages.AboutModel

@{
	ViewData["Title"] = "Home page";
	Layout = "~/Pages/Shared/AdminLTE/_Layout.cshtml";
}

<h1 class="display-4">About</h1>

<h2>Contributions</h2>
<p>This project builds on many open source projects.</p>

<strong><a href="https://asp.net/">ASP.NET</a></strong>
<p>
	<strong class="d-block">Free. Cross-platform. Open source.</strong>
	A framework for building web apps and services with .NET and C#.
</p>
<hr />

<strong><a href="https://adminlte.io/">AdminLTE</a></strong>
<p>
	<strong class="d-block">AdminLTE Bootstrap Admin Dashboard Template</strong>
	Best open source admin dashboard & control panel theme. Built on top of Bootstrap, AdminLTE provides a range of responsive, reusable, and commonly used components.
</p>
<hr />

<strong><a href="https://github.com/iammukeshm/AdminLTE.StarterKit">AdminLTE.StarterKit</a></strong>
<p>
	<strong class="d-block">AdminLTE StarterKit for ASP.NET Core 3.1</strong>
</p>
<p>
	A New Developer can take anywhere from 8 hours upto few days to Integrate a 3rd Party Bootstrap UI with ASP.NET Core. A Senior Developer may take anywhere from 4-6 hours in doing the same. With this Repository, the only GOAL is to dramatically reduce these long hours of development.
</p>
<p>
	Created by <a href="https://twitter.com/codewithmukesh">Mukesh Murugan</a>

	<ul>
		<li>Blogs at <a href="https://www.codewithmukesh.com" rel="nofollow">codewithmukesh.com</a></li>
		<li>Facebook - <a href="https://www.facebook.com/codewithmukesh" rel="nofollow">codewithmukesh</a></li>
		<li>Twitter - <a href="https://www.twitter.com/iammukeshm" rel="nofollow">Mukesh Murugan</a></li>
		<li>Twitter - <a href="https://www.twitter.com/codewithmukesh" rel="nofollow">codewithmukesh</a></li>
		<li>Linkedin - <a href="https://www.linkedin.com/in/iammukeshm/" rel="nofollow">Mukesh Murugan</a></li>
	</ul>
</p>
<hr />

<strong><a href="https://docs.microsoft.com/en-us/aspnet/mvc/overview/getting-started/getting-started-with-ef-using-mvc/creating-an-entity-framework-data-model-for-an-asp-net-mvc-application">Contoso University</a></strong>
<p>
	A reference application and tutorial to get Started with Entity Framework 6 Code First using MVC 5.
</p>
<hr />

<strong><a href="https://jimmybogard.com/">Jimmy Bogard's Open Source</a></strong>
<p>
	Jimmy's enhancements to the <a href="https://github.com/jbogard/ContosoUniversityDotNetCore-Pages">Contoso University</a> project.
</p>
<hr />

<strong><a href="https://fluentvalidation.net/">Fluent Validation</a></strong>
<p>
	A popular .NET library for building strongly-typed validation rules by <a href="https://jeremyskinner.co.uk/">Jeremy Skinner</a>
</p>
<hr />





<div>
	<h2>License</h2>
	<pre>
MIT License

Copyright (c) 2020 Mukesh Murugan

Permission is hereby granted, free of charge, to any person obtaining a copy
of this software and associated documentation files (the "Software"), to deal
in the Software without restriction, including without limitation the rights
to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
copies of the Software, and to permit persons to whom the Software is
furnished to do so, subject to the following conditions:

The above copyright notice and this permission notice shall be included in all
copies or substantial portions of the Software.

THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE
SOFTWARE.
	</pre>
</div>